body {
    background-color: #8BCF00;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
    text-align: right;
}

h3 {
    font-family: Arial, sans-serif;
    text-align: right;
}

.subtitle-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    max-width: 200px;
}

.text-container {
    margin-left: 15cm;
    margin-right: 15cm;
}