body {
    background-color: #8BCF00;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 0%;
}

h2, h3 {
    font-family: Arial, sans-serif;
    text-align: left;
}

.subtitle-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-width: 200px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.text-container {
    font-family: Arial, sans-serif;
    margin-left: 5cm;
    margin-right: 5cm;
    text-align: justify;
}

.center-text {
    text-align: center;
}

.footer-style {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 0.8em;
    color: #000000;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .text-container {
        margin-left: 2cm;
        margin-right: 2cm;
        text-align: justify;
    }

    .subtitle-image {
        width: 50%;
        max-width: 150px;
    }
}

@media (max-width: 480px) {
    .text-container {
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        text-align: justify;
    }

    .subtitle-image {
        width: 75%;
        max-width: 100px;
    }
}